*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#box {
	background-color: orange;
	border: 1px solid black; /* sets the border and style in just one line of code */
	padding: 50px;
	height: 150px;
	width: 150px;
}