* {
    font-family: 'Open Sans', sans-serif;
    /*margin 0 and padding 0 deletes default padding margin of all elements on our webpage. a.k.a RESET CSS*/
    /*
		Setting the padding and margin to 0 makes it easier for us to manipulate sizes and positions of our elements. Gives us also the freedom to customize their own spacing.
	*/
    margin: 0;
    padding: 0;
    /*
		-box-sizing - defines how the width and height of our elements are calculated.
		-border-box - will allow us to control the measurement of our elements better. It includes the padding, border styling of our element the total height and width in its computation.
	*/
    box-sizing: border-box;
}

.nav-logo {
    margin-left: auto;
}

nav.flex {
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.menu {
    max-width: 75.25rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.menu-buttons {
    margin: 0 auto;
}

nav .nav-button,
nav .nav-button-register {
    border: 0.0625rem solid #0076a9;
    border-radius: 0.75rem;
    margin: 0 auto;
}

.nav-button {
    background-color: #ffff;
    color: inherit;
}

.nav-button:hover {
    background-color: #0076a9;
    color: #ffff;
    border: 1px double #ffff;
}

.nav-button-register {
    background-color: #0076a9;
    border: 0.0625rem solid #2e90ba;
}

.nav-button-register:hover {
    background-color: #02618a;
}

nav {
    border-bottom: 1px solid gray;
    margin-bottom: 2rem;
    width: 100%;
    /*creates space between our nav bar and section intro*/
}

nav ul,
nav ul .nav-logo,
nav ul .nav {
    display: flex;
    list-style-type: none;
    margin: 0.5rem;
}

nav ul .nav:hover {
    background-color: #8c8c8c7b;
}

#intro {
    width: 100%;
    text-align: center;
    padding: 50px;
    display: flex;
    width: 100%;
    align-content: center;
    border-bottom: 1px solid grey;
    background-color: #18a4e045;
    /*margin-bottom: 3.75rem;*/
    /* background-color: rgba(53, 144, 219, 0.39); */
}

.header {
    margin: 1.25rem;
    text-align: center;
}

.introduction .header p {
    justify-content: right;
}

.introduction,
.img-container {
    text-align: justify;
    margin: 0 auto;
    margin-left: 3.125rem;
}

.img-container>img {
    max-height: 300px;
    height: 100%;
    border: 3px double #ffff;
    padding: 5px;
}

button {
    background-color: #B31E4A;
    border: 1px solid black;
    border-radius: 1.875rem;
    padding: .80rem;
    color: #fff;
    margin-top: 1.875rem;
}

#succeed-info {
    margin-bottom: 3.75rem;
}

#succeed-info>div {
    display: flex;
    padding: 3.25rem;
    margin: 0.9375rem;
}

.card {
    /* margin: 0.9375rem; */
    padding: 0.25rem;
}

.card>h3 {
    text-align: center;
    margin-bottom: 1.25rem;
}

.card>h3+p {
    text-align: justify;
    padding: .89rem;
}

#pre-footer {
    border-top: 1px solid gray;
    align-content: flex-start;
    justify-content: space-between;
    background-color: #002540;
    display: flex;
}

#pre-footer>div {
    align-content: center;
    margin: 0.9375rem 5.9375rem;
    color: #ffffff;
}

footer {
    border-top: 1px solid gray;
    background-color: #7a7a7a45;
    text-align: center;
}